@page
@{
    ViewData["Title"] = "Log out";
}
<div class="col-md-4">
            <h2>Создайте новый аккаунт.</h2>
            <hr />
            <a class="btn btn-primary" href="Register" role="button">Преподаватель</a>
</div>
<div class="col-md-4">
            <h2>Создайте новый аккаунт.</h2>
            <hr />
           <a class="btn btn-primary" href="RegisterAsStudent" role="button">Ученик</a>
</div>