@model MainWebApplication.Areas.Wash.Models.WashOrder

<h4>Создание заказ-наряда для мойки авто</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select id="CarId"  asp-for="CarId" class ="form-control" asp-items="ViewBag.CarId" >
                    <option selected>
                        Выберите марку авто
                    </option>
                    </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ModelCarId" class="control-label"></label>
                <select id="ModelAutoId" asp-items="@ViewBag.ModelCarId" asp-for="ModelCarId" class="form-control">
                    <option selected>
                        Выберите модель машины
                    </option>
                </select>
                <span asp-validation-for="ModelCarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberClient" class="control-label"></label>
                <input asp-for="PhoneNumberClient" class="form-control" />
                <span asp-validation-for="PhoneNumberClient" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ServicesList">Назад в список</a>
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/CascadeDirector.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
