@using Microsoft.AspNetCore.Identity
@using MainWebApplication.Areas.Identity.Data
@model MainWebApplication.Areas.Identity.Data.AspNetUser
@inject SignInManager<AspNetUser> SignInManager
@inject UserManager<AspNetUser> UserManager
@{
    ViewData["Title"] = "Домашняя страница";
}
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.FirstName == null)
    {
        <p>Чтобы завершить настройку аккаунта перейдите по ссылке</p>
    }
    <div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    </div>
}
else
{
    <div class="text-center">
    <h1 class="display-4">Начните работу</h1>
    <p>Зарегистрируйтесь нажав <a href="/Identity/Account/Register">кнопку</a>.</p>
</div>
}
