@model MainWebApplication.Areas.Detailing.Models.RegisterOrder

<h4>Редактировать заказ-наряд</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsDeleted" />
            <input type="hidden" asp-for="AspNetUserId" />
            <input type="hidden" asp-for="OrganizationId" />
            <input type="hidden" asp-for="DateofCreatedOrder" />
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prepayment" class="control-label"></label>
                <input asp-for="Prepayment" class="form-control" />
                <span asp-validation-for="Prepayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelCarId" class="control-label"></label>
                <select id="ModelAutoId"  asp-items="@(new SelectList(""))" asp-for="ModelCarId" class ="form-control" >
                    <option selected>
                        Выберите модель машины
                    </option>
                </select>
                <span asp-validation-for="ModelCarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Orders">Назад в список</a>
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/Cascade.js"></script>
