<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AvtoMig</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/quill/quill.bubble.css">
    <link rel="stylesheet" href="~/lib/remixicon/remixicon.css">
    <link rel="stylesheet" href="~/lib/simple-datatables/style.css">
</head>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/Home/Index/" class="logo d-flex align-items-center">
            <img src="~/img/logo.png" alt="AvtoMig.Kz - логотип">
            <span class="d-none d-lg-block">AvtoMig</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Поиск" title="Введите запрос">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->


            <partial name="_LoginPartial" /><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
@if (!User.Identity.IsAuthenticated)
{
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/Home/Index">
                    <i class="bi bi-grid"></i>
                    <span>Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Identity/Account/Register">
                    <i class="bi bi-box-arrow-left"></i>
                    <span>Регистрация</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Identity/Account/Login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Войти</span>
                </a>
            </li>
        </ul>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - AvtoMig - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика</a>
            </div>
        </footer>
    </aside>
}
else
{
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/Home/Index">
                    <i class="bi bi-grid"></i>
                    <span>Главная</span>
                </a>
            </li><!-- End Dashboard Nav -->
            @if (User.IsInRole("Администратор"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Номенклатура</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Admin/ListCars">
                                <i class="bi bi-circle"></i><span>Список марок машин</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ListModelCars">
                                <i class="bi bi-circle"></i><span>Список моделей машин</span>
                            </a>
                        </li>
                        <li>
                            <a href="tables-data.html">
                                <i class="bi bi-circle"></i><span>Список статусов</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/PaymentTypes">
                                <i class="bi bi-circle"></i><span>Список способа оплат</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Users">
                                <i class="bi bi-circle"></i><span>Все пользователи</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Organizations">
                                <i class="bi bi-circle"></i><span>Все организации</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            else if (User.IsInRole("Руководитель"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Отчеты</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Wash/Director/MasterSalaryList">
                                <i class="bi bi-circle"></i><span>Зарплата мастеров</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Wash/Director/ListOfCompleteWashes">
                                <i class="bi bi-circle"></i><span>Завершенные заказ-наряды</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Услуги</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Wash/Director/ServicesList/">
                                <i class="bi bi-circle"></i><span>Список услуг</span>
                            </a>
                        </li>
                        <li>
                            <a href="components-accordion.html">
                                <i class="bi bi-circle"></i><span>Создать услугу</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Components Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-journal-text"></i><span>Заказ-наряд</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Wash/Director/Orders">
                                <i class="bi bi-circle"></i><span>Список активных заказ-нарядов</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Wash/Director/CreateOrder">
                                <i class="bi bi-circle"></i><span>Создать заказ-наряд</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Wash/Director/ListOfCompleteWashes">
                                <i class="bi bi-circle"></i><span>Завершенные заказ-наряды</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Wash/Director/DeletedOrders">
                                <i class="bi bi-circle"></i><span>Удаленные заказ-наряды</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Forms Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                        <i class="ri-settings-3-line"></i><span>Настройки</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Home/SalaryList">
                                <i class="bi bi-circle"></i><span>Настройки зарплат</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/MyOrganization">
                                <i class="bi bi-circle"></i><span>Настройки организации</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ListUsers">
                                <i class="bi bi-circle"></i><span>Пользователи организации</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Tables Nav -->
            }
            else if (User.IsInRole("Менеджер"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Отчеты</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="/Wash/Director/MasterSalaryList">
                                <i class="bi bi-circle"></i><span>Зарплата мастеров</span>
                            </a>
                        </li>
                        <li>
                            <a href="tables-data.html">
                                <i class="bi bi-circle"></i><span>Завершенные заказ-наряды</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- End Tables Nav -->
            }
            else if (User.IsInRole("Мастер"))
            {

            }
            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-blank.html">
                    <i class="bi bi-file-earmark"></i>
                    <span>Blank</span>
                </a>
            </li><!-- End Blank Page Nav -->

        </ul>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - AvtoMig - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика</a>
            </div>
        </footer>
    </aside>

    <!-- End Sidebar-->
}
<body>
    <main id="main" class="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
