@model MainWebApplication.Areas.Identity.Data.Organization

<h4>Редактирование услуги</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrganization">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="EndDateSub" />
            <input type="hidden" asp-for="StartDateSub" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="OrganizationNumber" class="control-label"></label>
                <input asp-for="OrganizationNumber" minlength = "12", maxlength = "12" class="form-control" />
                <span asp-validation-for="OrganizationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullOrganizationName" class="control-label"></label>
                <input asp-for="FullOrganizationName" class="form-control" />
                <span asp-validation-for="FullOrganizationName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyOrganization">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
