@model IEnumerable<MainWebApplication.Models.Payment>

<p>
    <a asp-action="AddPayment">Добавить новый способ оплаты</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditPayment" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="DeletePayment" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
